body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--main-text-color);
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#profileHead {
    margin-top: 25px;
}

.profileImage{
    margin-bottom: 0px;
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--main-image-bg-color);
    box-shadow: 0px 0px 10px 0px var(--main-text-color);
}

.backgroundImageHolder{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.backgroundImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    -webkit-filter: blur(20px) grayscale(20%) brightness(50%); /* Safari 6.0 - 9.0 */
    filter: blur(20px) grayscale(20%) brightness(50%);
}

#profileName{
    font-size: 50px;
    font-weight: bold;
}

.standardVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.link {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: 100vw;
    max-width: 890px;
    min-height: 70px;
    background-color: var(--main-link-color);
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    opacity: 0.8;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.link:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px var(--main-link-hover-color);
    background-color: var(--main-link-hover-color);
    transform: scale(1.1);
}

.linkText {
    width: 100%;
    display:flex;
    justify-content: center;
}

.linkImage {
    overflow: hidden;
    max-width: 80px;
    max-height: 80px;
}

.linkOut {
    display:block;
    text-decoration: none;
    margin: 10px;
}

#socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px 0px 10px 0px;
}

.socialImage {
    width: 5vw;
    max-width: 50px;
}

.socialLink {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    filter: grayscale(100%) brightness(0.5) contrast(500%) drop-shadow(0px 0px 1px var(--main-text-color));
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.socialLink:hover {
    background: var(--main-text-color);
    filter: grayscale(0%);
    transform: scale(1.5);
}